body {
	background-color: powderblue;
}

h1 {
	color: blue;
	font-family: calibri;
}

h2 {
	color: blue;
	background-color: rgb(152, 255, 174);
}

p {
	color: black;
	font-family: calibri;
}

nav {
	float: top;
	font-size: 30px;
}

ul{
	list-style-type: none;
	display: flex;	
}

li{
	margin-right: 10px;
}