body {
	background-color: powderblue;
	display: flex;
	justify-content: center;
    align-items: center;
	height: 100vh;
}

h1{
	color: gray;
	font-family: calibri;
}

p {
	color: black;
	font-family: calibri;
}

nav {
	float: top;
}

ul{
	list-style-type: none;
	display: flex;	
}

li{
	margin-right: 10px;
}

.hidden {
	display: none;
}